@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0E3A5B;
    --primary: #BB885C;
    --primary-hover: #976F4C;
    --secondary: #B0B0B0;
    --secondary-hover: #7B7B7B
  }
}
